.comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 2rem;
}
.comment-form {
    width: 80vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-btn {
    margin-top: 1rem;
    cursor: pointer;
}
.comment-img {
    margin-bottom: 1rem;
}
.comment-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Media queries */
@media only screen and (max-width: 600px) {
    .comment-wrapper {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .comment-title {
        max-width: 80vw;
    }
    .comment-img {
        max-width: 80vw;
    }
    #text-box {
        max-width: 80vw;
    }
    .comment-title h1 {
        font-size: 18px;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1280px) {
    .comment-wrapper {
        max-width: 80vw;
        margin-left: auto;
        margin-right: auto;
    }
    .comment-title {
        max-width: 80vw;
    }
    .comment-img {
        max-width: 80vw;
    }
    #text-box {
        max-width: 80vw;
    }
    
}