.post-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 0.125rem .25rem rgba(47, 46, 46, 0.75);
    width: 60vw;
    margin-bottom: 3rem;
    margin-top: 3rem;
    padding-bottom: 1rem;
}
.post-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post-img {
    width: 30vw;
}
.post-footer {
    display: flex;
    justify-content: space-evenly;
    padding-top: 0.5rem;
}
.line-break {
    border-bottom: 1px solid red;
    width: 50%;
}
.comments {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.25rem;
    color: black;
    font-weight: bold;
}
.comments-wrapper {
    display: flex;
    align-items: center;
}
.upvote {
    display: flex;
    justify-content: space-between;
}
.upvote-btn {
    margin-right: 0.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.downvote-btn {
    margin-left: 0.25rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.post-by {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
.post-header > h1 {
    width: 90%;
}
.num_comments {
    margin: 0;
    margin-left: 0.25rem;
}
.break {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Hover buttons */
.dwn-arrow > path:hover, .up-arrow > path:hover, .comment-icon > path:hover {
    color: blue;
}
/* onclick of downvote /upvote buttons */
.dwn-arrow > path:active, .up-arrow > path:active, .comment-icon > path:active {
    color: blue;
}
.downvote-btn:active {
    color: blue;
}