.post-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* box-shadow: 0 0.125rem .25rem rgba(47, 46, 46, 0.75); */
    border: 1px solid gray;
    min-height: 50vh;
}
.post-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.post-img {
    height: 30vh;
}
.post-footer {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid gray;
    padding-top: 0.5rem;
}